strong {font-weight: bold;}
.left-col h3 {margin: 2.2em 0 .5em 0;}

//Help dropdown on mobile
.helper-mobile {
	display:none;
}

@media screen and (max-width: 700px) {
	.helper-mobile {
	  display: block;
	  border-bottom: 1px solid #bfc1c3;
	}
}

.helper-mobile a {
  display: block;
  background-image: url("mobile-nav.png");
  background-position: right 22px;
  background-repeat: no-repeat;
  font-size: 17px;
  color: #2e3191;
  text-decoration: none;
  font-weight: 300;
  padding: 1em 0;
  line-height: 1em;
  cursor: pointer;
}

// Form elements
input.form-control {
	margin-bottom:20px;
}

// Back link
.form-steps ul, .form-steps li {
  margin: 0;
  list-style: none;
  padding-left: 0;
}
