
<main id="content" role="main">
	{{>phase_banner}}
	<div class="grid-row">
		
    <div class="column-two-thirds">
			<h1 class="heading-large">Reference number invalid</h1>
			<p class="lede">There has been a problem.</p>
			<p>Sorry the reference number has not been recognised.</p>
			<p>Please contact us to make sure the reference number is valid.</p>
      <p>Telephone Debt Management on 0345 850 0293 to discuss other ways to pay</p>

      <nav class="form-steps" role="navigation">
          <ul>
              <li><a class="button" href="exit-survey.html">Finish</a></li>
          </ul>
      </nav>
		</div>
  </div>

</main>

