{% extends "layout.html" %}

{% block page_title %}
	GOV.UK - Benefit debt repayments
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div>
		<div class="inner-block">
            <article role="article" style="width:100%">
              <header class="page-header">
								<h1 class="heading-large">How was our payment service?</h1>
							</header>
							<p>Please complete this short survey to help us improve the service.</p>
							<p>It will take less than a minute to complete.</p>
							<a href="https://www.gov.uk/">No thanks</a>
							<p></p>

<div class="sign-out-survey">
  <form action="" method="POST" id="form-end-journey-questionnaire" data-dynamic-form="true">


    <!-- 1. How easy was it to make a payment -->
    <fieldset class="form-field-group inline" style="width: 1000px;">

      <legend class="heading-medium">How easy was it to make a payment?</legend>
      <label class="block-label block-label-stacked form-radio" for="difficulty-radio-very-difficult">
        <input type="radio" id="difficulty-radio-very-difficult" name="saSignUpDifficulty" value="5">
        Very difficult
      </label>
      <label class="block-label block-label-stacked form-radio" for="difficulty-radio-difficult">
        <input type="radio" id="difficulty-radio-difficult" name="saSignUpDifficulty" value="4">
        Difficult
      </label>
      <label class="block-label block-label-stacked form-radio" for="difficulty-radio-neutral">
        <input type="radio" id="difficulty-radio-neutral" name="saSignUpDifficulty" value="3">
        Neutral
      </label>
      <label class="block-label block-label-stacked form-radio" for="difficulty-radio-easy">
        <input type="radio" id="difficulty-radio-easy" name="saSignUpDifficulty" value="2">
        Easy
      </label>
      <label class="block-label block-label-stacked form-radio" for="difficulty-radio-very-easy">
        <input type="radio" id="difficulty-radio-very-easy" name="saSignUpDifficulty" value="1">
        Very easy
      </label>
    </fieldset>




  <!-- 3. How secure did the service feel? -->
    <fieldset class="form-field-group inline" style="width: 1000px;">
      <legend class="heading-medium">How secure did the service feel?</legend>
      <label class="block-label block-label-stacked form-radio" for="secure-very-poor">
        <input type="radio" id="secure-very-poor" name="secure" value="5">
        Very insecure
      </label>
      <label class="block-label block-label-stacked form-radio" for="secure-poor">
        <input type="radio" id="secure-poor" name="secure" value="4">
        Not secure
      </label>
      <label class="block-label block-label-stacked form-radio" for="secure-neutral">
        <input type="radio" id="secure-neutral" name="secure" value="3">
        Neutral
      </label>
      <label class="block-label block-label-stacked form-radio" for="secure-good">
        <input type="radio" id="secure-good" name="secure" value="2">
        Secure
      </label>
      <label class="block-label block-label-stacked form-radio" for="secure-very-good">
        <input type="radio" id="secure-very-good" name="secure" value="1">
        Very secure
      </label>
    </fieldset>



    <!-- 2. Overall, how do you rate the new payment service? -->
    <fieldset class="form-field-group inline" style="width: 1000px;">
      <legend class="heading-medium">Overall, how do you rate the new payment service?</legend>
      <label class="block-label block-label-stacked form-radio" for="rate-very-poor">
        <input type="radio" id="rate-very-poor" name="overall" value="5">
        Very poor
      </label>
      <label class="block-label block-label-stacked form-radio" for="rate-poor">
        <input type="radio" id="rate-poor" name="overall" value="4">
        Poor
      </label>
      <label class="block-label block-label-stacked form-radio" for="rate-neutral">
        <input type="radio" id="rate-neutral" name="overall" value="3">
        Neutral
      </label>
      <label class="block-label block-label-stacked form-radio" for="rate-good">
        <input type="radio" id="rate-good" name="overall" value="2">
        Good
      </label>
      <label class="block-label block-label-stacked form-radio" for="rate-very-good">
        <input type="radio" id="rate-very-good" name="overall" value="1">
        Very good
      </label>
    </fieldset>






  <!-- 4. How would you improve the service? -->
    <fieldset class="form-field-group inline ">
      <legend class="heading-medium">How would you improve the service?</legend>
      <textarea maxlength="2500" id="commentForImprovements" name="commentForImprovements" cols="40" rows="6"></textarea>
      <br><small>(Limit is 2500 characters)</small>
    </fieldset>


    <br>

    <a class="button" href="all-thank-you">Submit survey</a>


  </form>
</div>

            </article>
          </div>
	</div>

</main>

{% endblock %}


