{% extends "layout.html" %}

{% block page_title %}
	GOV.UK - Benefit debt repayments
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div>
		<div class="inner-block">
            <article role="article" style="width:100%">
              <header class="page-header">
<hgroup>
	<h1 class="heading-large">Thank you</h1>
</hgroup>
              </header>


<p>Your replies will help us improve the payment service.</p>




	<a class="button" href="https://www.gov.uk/">Go to GOV.UK</a>



<!--
<div class="transaction-nav">
    <a class="button" href="">Sign out</a>
</div
-->


            </article>
          </div>
	</div>

</main>

{% endblock %}
