{% extends "layout.html" %}

{% block page_title %}
	GOV.UK - Benefit debt repayments
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner.html" %}
	<div class="grid-row">

    <div class="column-two-thirds">
			<h1 class="heading-large">Payment cancelled</h1>
			<p class="lede">You have cancelled the payment process.</p>
			<p>No money has been taken from your account.</p>

      <nav class="form-steps" role="navigation">
          <ul>
              <li><a href="/beta2/exit-survey" class="button">Finish</a></li>
          </ul>
      </nav>
		</div>
  </div>

</main>

{% endblock %}
