{% extends "layout.html" %}

{% block page_title %}
	GOV.UK - Benefit debt repayments
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner.html" %}
	<div class="grid-row">
		<div class="column-third">
			{{>includes/help}}
		</div>

    <div class="column-two-thirds">
			<h1 class="heading-large">Before you start</h1>
			<p>You should only use this service if you are repaying the full amount.</p>
      <p>If you not able to pay the full amount you must contact Debt Management on 0345 850 0293 to discuss other payment options and agree a repayment plan.</p>
      <p>If you make a part payment using this service Debt Management will continue recovery action which may include contacting your employer to make deductions directly from your wages or sending your case to an independent debt collector.</p>
      <div class="transaction">
        <p class="get-started group">
          <a class="button" href="step1">I understand - proceed</a>
        </p>
        <p class="get-started group">
          <a id="backButtonBottom" href="start">Back</a>
        </p>
      </div>

    </div>
  </div>

</main>

{% endblock %}

</script>
