{% extends "layout.html" %}

{% block page_title %}
	GOV.UK - Benefit debt repayments
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner.html" %}
	<div class="grid-row">
		<div class="column-third">
			{{>includes/help}}
		</div>

    <div class="column-two-thirds">
			<h1 class="heading-large">Reference number invalid</h1>
			<p class="lede">There has been a problem.</p>
			<p>Sorry the reference number has not been recognised.</p>
			<p>Please contact us to make sure the reference number is valid.</p>
      <strong>What happens next?</strong>
      <ul class="list-bullet">
        <li><a href="start">Try again</a></li>
        <li>Make a payment by calling 0345 345 900</li>
        <li>Alternatively please check <a href="start">other ways to pay</a></li>
      </ul>
      <nav class="form-steps" role="navigation">
          <ul>
              <li><a class="button" href="/beta/exit-survey">Finish</a></li>
          </ul>
      </nav>
		</div>
  </div>

</main>

{% endblock %}


