{% extends "layout.html" %}

{% block page_title %}
	GOV.UK - Benefit debt repayments
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner.html" %}
	<div class="grid-row">
		<div class="column-third">
			{{>includes/help}}
		</div>

    <div class="column-two-thirds">
			<h1 class="heading-large">Two columned page with helpline snippet</h1>
			<p>Phasellus diam orci, tempus vel tincidunt eget, varius in odio. Duis vel vestibulum nunc. Duis convallis fringilla eros quis rhoncus.</p>
			<p>Nullam finibus ultricies erat, ac tincidunt mauris vehicula sit amet. Integer imperdiet euismod ex, quis congue ante rutrum sit amet. Curabitur pulvinar finibus erat, id placerat felis porta ac. Nunc tempor scelerisque lorem. Suspendisse potenti.</p>
  		{{>includes/back}}
		</div>
  </div>

</main>

{% endblock %}


