{{<layout}}

{{$pageTitle}}
	GOV.UK - Benefit debt repayments
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	{{>includes/phase_banner}}
	<div class="grid-row">
		<div class="column-third">
			{{>includes/help}}
		</div>

    <div class="column-two-thirds">
			<h1 class="heading-large">Before you start</h1>
			<p>Nam blandit maximus fermentum. Donec semper mauris ac dui facilisis pretium. Etiam eu mi quis diam fermentum vestibulum. Mauris vel bibendum ante, nec aliquet erat. Nulla sit amet urna at ligula aliquet laoreet quis ac mi. Aenean in neque leo. Donec quis est velit. Vestibulum hendrerit orci sapien, vitae rutrum tortor feugiat id.</p>
		  <ul class="list-bullet">
        <li>Nam ornare, felis eget iaculis luctus, elit odio interdum orci, nunc diam lacus, tincidunt vitae lorem eu</li>
        <li>Sed rutrum erat eget nunc tempor facilisis</li>
      </ul>
      <p>Nulla tristique dictum fringilla</p>
      <p>Nunc finibus lobortis risus a fringilla. Ut nec mauris bibendum, placerat ligula sed, egestas risus.</p>
      <div class="transaction">
        <p class="get-started group">
          <a class="button" href="step1">I agree</a>
        </p>
        <p class="get-started group">
          <a id="backButtonBottom" href="start">Back</a>
        </p>
      </div>

    </div>
  </div>

</main>

{{/content}}
{{/layout}}
</script>
