{% extends "layout.html" %}

{% block page_title %}
	GOV.UK - Benefit debt repayments
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner.html" %}
	<div>
		<h1 class="heading-large">Basic page with content</h1>
    <p class="lede">Donec rutrum ultrices condimentum. Duis egestas sapien est, a rutrum tortor mattis nec. Vivamus leo nisi, bibendum nec varius a, gravida vel est. Ut sit amet dictum dui. Ut pretium felis neque. Nulla facilisi. Maecenas in posuere justo, congue dignissim tortor. Mauris sollicitudin quam turpis, vel hendrerit purus laoreet at. Donec mollis mi sollicitudin justo mattis elementum.</p>
		<h2 class="heading-medium">Etiam nulla nunc, faucibus at nunc</h2>
		<p>Mauris placerat vel justo eu vulputate. Phasellus eget sapien consectetur quam dignissim volutpat eget ut risus. Vestibulum sit amet egestas metus. Pellentesque id fringilla quam.</p>
		<p>Duis in massa id sapien mattis feugiat. Maecenas dignissim nulla id quam convallis blandit. Proin quis lobortis felis, a eleifend odio.</p>
		{{>includes/back}}
	</div>

</main>

{% endblock %}


