{{<layout}}

{{$pageTitle}}
	GOV.UK - Benefit debt repayments
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	{{>includes/phase_banner}}
	<div class="grid-row">
		<div class="column-third">

		</div>

    <div class="column-two-thirds">
			<div class="text">
				<h1 class="heading-large">Prototype pages</h1>

		    <ol class="list-number">
		      <li><a href="/beta/start">Start page on GOV.UK guide</a></li>
		      <li><a href="/beta/step1">Step 1 - Reference number and amount fields</a></li>
		      <li><a href="/beta/success">Success</a></li>
		      <li><a href="/beta/benefit-overpayments">Benefit Overpayments</a></li>
		      <li><a href="/beta/rejected">Payment rejected</a></li>
		      <li><a href="/beta/declined">Payment declined</a></li>
		    </ol>

				<h2 class="heading-medium">Prototype page styles</h2>
		    <p>Templates for the prototype pages</p>

		    <ol class="list-number">
		      <li><a href="/beta/free-content">Basic page with content</a></li>
		      <li><a href="/beta/columns-help">Two columned page with helpline snippet</a></li>
		    </ol>


		  </div>
  	</div>
  </div>

</main>

{{/content}}

{{/layout}}
