{{<layout}}

{{$pageTitle}}
	GOV.UK - Benefit debt repayments
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	{{>includes/phase_banner}}
	<div class="grid-row">
		<div class="column-third">
			{{>includes/help}}
		</div>

    <div class="column-two-thirds">
			<h1 class="heading-large">Your payment details</h1>
			<form action="javascript:completeAndRedirect();" method="post" autocomplete="off">
				<div class="form-group">
					<span class="error-container"></span>
					<label class="form-label" for="ni-number">
				    National Insurance number
				    <span class="form-hint">For example, QQ 12 34 56C.</span>
					</label>
				  <input style="text-transform: uppercase" data-parsley-pattern="([A-Za-z]{2} [0-9]{2} [0-9]{2} [0-9]{2}[ABCDabcd]{1})|([A-Za-z]{2} [0-9]{2} [0-9]{2} [0-9]{2} [ABCDabcd]{1})|([A-Za-z]{2}[0-9]{6}[ABCDabcd]{1})" maxlength="12" name="ni-number" id="ni-number" type="text" class="form-control" required data-parsley-error-message="Please enter a valid National Insurance number">
				</div>

				<div class="form-group">
					<span class="error-container"></span>
					<label class="form-label" for="amount-number">Amount to pay</label>
					<span class="poundsign">£</span>
					<input type="text" style="text-transform: uppercase" pattern="^\$?[1-9]+(,\d{3})*(\.\d{1,2})?$" maxlength="8" name="amount-number" id="amount-number" class="form-control text" align="top" required data-parsley-error-message="Please enter the full amount due">
				</div>
		    <nav class="form-steps" role="navigation">
		        <ul>
		            <li><button type="submit" name="action" value="next" class="button">Next</button></li>
		            <li><a id="backButtonBottom" href="/">Back</a></li>
		        </ul>
		    </nav>
			</form>
		</div>
  </div>

</main>

{{/content}}

{{/layout}}
