<tr valign="top">
<td class="one" colspan="2">
<table width="100%" cellpadding="0" cellspacing="0" border="0" class="paymentTopFields">
<tr>
<td class="three" align="left" width="100%">
&nbsp;<wpdisplay msg="Payment Top Fields" stylize="3.button">
</td>
<td class="one" align="right">
<a href="<wpdisplay msg="Link to your help page">" target="_blank">
<img src="<wpdisplay disp=help.button>" style="border:0;" alt=""></a>
</td>
</tr>
<tr>
<td class="two" width="100%">
<table cellpadding="0" cellspacing="2" border="0">
<tr valign="top">
<td colspan="2" <wpdisplay disp="2.bg" pre=" bgcolor=">>&nbsp;<wpdisplay msg="Enter your instructions here *:" stylize="2.instr"></td>
</tr>
<tr valign="top">
<td class="two width190"><wpdisplay msg="&nbsp;&nbsp;Name of your field" stylize="2"></td>
<td class="two" colspan="1" <wpdisplay disp="2.bg" pre=" bgcolor=">><INPUT TYPE="text" NAME="MC_top" value=""></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
