<table>
	<tr>
		<td colspan="2">
			<p style="padding-left:5px">
				Enter an email address for payment confirmation from WorldPay.
			</p>
		</td>
	</tr>
	<tr valign="top" class="desktop-buttons">
		<td class="one" valign="top" rowspan="2" align="right"><button name="op-PMMakePayment" id="op-PMMakePayment" tabindex="249" type="submit">Make payment</button></td>
		<td class="one" valign="top" align="left">
			<a href="payment-cancelled" tabindex="250" class="cancelLink">Cancel payment</a>
		</td>
	</tr>
	<tr valign="top" class="mobile-buttons">
		<td class="one" valign="top" rowspan="2" align="right"><button name="op-PMMakePayment" id="op-PMMakePayment" tabindex="249" type="submit">Make payment</button></td>
	</tr>
	<tr valign="top" class="mobile-buttons">
		<td class="one" valign="top" align="left">
			<a href="payment-cancelled" tabindex="250" class="cancelLink">Cancel payment</a>
		</td>
	</tr>
</table>
