{% extends "layout.html" %}

{% block page_title %}
	GOV.UK - Benefit debt repayments
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner.html" %}
	<div class="grid-row">

    <div class="column-two-thirds">
			<h1 class="heading-large">Before you start</h1>
			<p>Only use this service to repay what you owe in full.</p>
			<p>If you make a part payment using this service the Department for Work and Pensions may still try to recover the money through a debt collection agency or by taking it directly from your wages or benefits.</p>
      <p>Contact DWP Debt Management on 0345 850 0293 to discuss your options if you can't repay in full.</p>
			<div class="transaction">
        <p class="get-started group">
          <a class="button" href="step1">I understand - continue</a>
        </p>
        <p class="get-started group">
          <a id="backButtonBottom" href="start">Back</a>
        </p>
      </div>

    </div>
  </div>

</main>

{% endblock %}

</script>
