{% extends "layout.html" %}

{% block page_title %}
	GOV.UK - Benefit debt repayments
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner.html" %}
	<div class="grid-row">

    <div class="column-two-thirds">
			<h1 class="heading-large">Payment declined</h1>
			<p class="lede">There has been a problem.</p>
			<p>No money has been taken from your account.</p>
			<p>Your payment was declined by your card issuer, please contact them to find out why.</p>
			<p>Telephone Debt Management on 0345 850 0293 to discuss other ways to pay</p>

      <nav class="form-steps" role="navigation">
          <ul>
              <li><a href="exit-survey" class="button">Finish</a></li>
          </ul>
      </nav>
		</div>
  </div>

</main>

{% endblock %}


