<!-- Javascript -->
<script src="{{assetPath}}javascripts/jquery-2.1.4.min.js"></script>
<script src="{{assetPath}}javascripts/parsley.min.js"></script>
<script src="{{assetPath}}javascripts/application.js"></script>
