{% extends "govuk_template.html" %}

{% block head %}
  {{>includes/examples_head}}
{% endblock %}

{% block headerClass %}with-proposition{% endblock %}

{% block proposition_header %}
  <div class="area header-proposition">Propositional navigation area</div>
{% endblock %}

{{$insideHeader}}
<div class="area">Inside header area</div>
{{/insideHeader}}

{{$afterHeader}}
<div class="area">After header area</div>
{{/afterHeader}}

{{$cookieMessage}}
<div class="area">Cookie message</div>
{{/cookieMessage}}

{% block headerClass %}with-proposition{% endblock %}

{% block content %}
<main class="area">Content area</main>
{% endblock %}

{% block body_end %}
<div class="area">Body end area</div>
{% endblock %}

{{$footerTop}}
<div class="area">Footer top area</div>
{{/footerTop}}

{{$footerSupportLinks}}
<div class="area">Footer support links area</div>
{{/footerSupportLinks}}




