{% extends "layout.html" %}

{% block page_title %}
	GOV.UK - Benefit debt repayments
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner.html" %}
	<div class="grid-row">
		<div class="column-third">

		</div>

    <div class="column-two-thirds">
			<div class="text">
				<h1 class="heading-large">Beta 3 prototype pages</h1>
				<ul class="list-bullet">
		      <li><a href="/beta3/start">GOV.UK guide on benefit overpayments</a></li>
				</ul>

				<h2 class="heading-medium">Benefit debt repayment service</h2>
		    <ol class="list-number">
		      <li><a href="/beta3/declaration">Declaration</a></li>
		      <li><a href="/beta3/step1">Start of the ePayments service</a></li>
		      <li><a href="/beta3/worldpay1">Worldpay card select</a></li>
		      <li><a href="/beta3/worldpay2">Worldpay payment details</a></li>
		      <li><a href="/beta3/success">Successful payment</a></li>
		      <li><a href="/beta3/exit-survey">Feedback (exit survey)</a></li>
		      <li><a href="/beta3/all-thank-you">Thank you</a></li>
		    </ol>

				<h2 class="heading-medium">Payment pages for unsuccessful transactions</h2>
				<ul class="list-bullet">
		      <li><a href="/beta3/rejected">Payment unsuccessful</a></li>
		      <li><a href="/beta3/declined">Payment declined</a></li>
		      <li><a href="/beta3/payment-cancelled">Payment cancelled</a></li>
		      <li><a href="/beta3/invalid">Reference number invalid</a></li>
				</ul>
				<div class="clear"><a id="backButtonBottom" href="/">Back</a></div>
<!--
				<h2 class="heading-medium">Prototype page styles</h2>
		    <p>Templates for the prototype pages</p>

		    <ol class="list-number">
		      <li><a href="/beta2/free-content">Basic page with content</a></li>
		      <li><a href="/beta2/columns-help">Two columned page with helpline snippet</a></li>
		    </ol>
-->

		  </div>
  	</div>
  </div>

</main>

{% endblock %}


