{% extends "layout.html" %}

{% block page_title %}
	GOV.UK - Benefit debt repayments
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner.html" %}
	<div class="grid-row">

    <div class="column-two-thirds">
			<h1 class="heading-large">Payment unsuccessful</h1>
			<p class="lede">There has been a problem with our system.</p>
			<p>No money has been taken from your account.</p>
			<p>The online service has been unable to process your payment at this time.</p>
      <p>Telephone Debt Management on 0345 850 0293 to discuss other ways to pay or try again later</p>
      <nav class="form-steps" role="navigation">
          <ul>
              <li><a class="button" href="/beta2/exit-survey">Finish</a></li>
          </ul>
      </nav>
		</div>
  </div>

</main>

{% endblock %}


