{% extends "layout.html" %}

{% block page_title %}
	GOV.UK - Benefit debt repayments
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner.html" %}
	<div class="grid-row">

    <div class="column-two-thirds">
			<h1 class="heading-large">Make a payment</h1>
			<p>You'll need a credit or debit card to make a payment.</p>
			<p>If you can't pay in full <a href="part-payment">click here</a></p>
			<div class="transaction">
				<p class="get-started group">
          <a class="button" href="step1">Pay in full</a>
          <a class="button" href="part-payment">Make a part payment</a>
        </p>
        <p class="get-started group">
          <a id="backButtonBottom" href="start">Back</a>
        </p>
      </div>

    </div>
  </div>

</main>

{% endblock %}

</script>
