{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner.html" %}
	<div class="grid-row">
		<div class="column-third">

		</div>

    <div class="column-two-thirds">
			<div class="text">
				<h1 class="heading-large">Benefit debt repayment prototype</h1>

				<h2 class="heading-medium">Beta stages</h2>
		    <ul class="list-bullet">
		      <li><a href="/beta5/">Beta 5</a></li>
		      <li><a href="/beta4/">Beta 4</a></li>
			      <li><a href="/beta3/">Beta 3</a></li>
		      <li><a href="/beta2/">Beta 2</a></li>
		      <li><a href="/beta/">Beta</a></li>
		    </ul>

				<h2 class="heading-medium">Resources</h2>

				<ul class="list-bullet">
					<li>
						<a href="https://github.com/alphagov/govuk_prototype_kit/blob/master/docs/getting-started.md">
							GOV.UK kit documentation
						</a>
					</li>
					<li>
						<a href="http://govuk-elements.herokuapp.com/snippets/">
							Guide to GOV.UK elements HTML
						</a>
					</li>
					<li>
						<a href="https://www.gov.uk/service-manual">
							Service design manual
						</a>
					</li>
					<li>
						<a href="https://www.gov.uk/design-principles">
							Government Digital Service Design Principles
						</a>
					</li>
				</ul>
		  </div>
  	</div>
  </div>

</main>

{% endblock %}


