{% extends "layout.html" %}

{% block page_title %}
	GOV.UK - Benefit debt repayments
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner.html" %}
	<div class="grid-row">

    <div class="column-two-thirds">
			<h1 class="heading-large">Make a part payment</h1>
			<p>Contact Department for Work and Pensions (<abbr title="Department for Work and Pensions">DWP</abbr>) Debt Management if you can't pay the full amount</p>
			<h2 class="heading-medium">DWP Debt Management contact centre</h2>
			<p>Telephone: 0345 850 0293 <br>Textphone: 0345 604 6697 <br>Calling from abroad: +44 0161 904 1233</p>
			<p><strong>Opening times:</strong> <br>Monday to Friday: 8am to 8pm <br>Saturday: 9am to 4pm <br><a href="https://www.gov.uk/call-charges" target="_blank" onmousedown="trackEvent('/allowance/benefits','Call charges');" onkeydown="trackEvent('/allowance/benefits','Call charges');">Find out about call charges</a></p>
			<p class="get-started group">
				<a id="backButtonBottom" href="declaration">Back</a>
			</p>
		</div>
  </div>

</main>

{% endblock %}


